# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg

# Android
.gradle/
.kotlin/
local.properties
**/build/
*.iml
.idea/
.cxx/
#*.apk
*.aab
*.keystore

# OS
.DS_Store
.env
